<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Cars</title>
</head>
<body>
<div class="container mt-8 p-8">
    <h1 class="text-2xl font-bold mb-6">All Cars</h1>
    <table class="min-w-full bg-white">
        <thead>
        <tr>
            <th class="py-2">Car ID</th>
            <th class="py-2">Model</th>
            <th class="py-2">Year</th>
            <th class="py-2">Plate ID</th>
            <th class="py-2">Status</th>
            <th class="py-2">Office ID</th>
        </tr>
        </thead>
        <tbody>
        <% cars.forEach(car => { %>
            <tr>
                <td class="border px-4 py-2"><%= car.CarID %></td>
                <td class="border px-4 py-2"><%= car.Model %></td>
                <td class="border px-4 py-2"><%= car.Year %></td>
                <td class="border px-4 py-2"><%= car.PlateID %></td>
                <td class="border px-4 py-2"><%= car.Status %></td>
                <td class="border px-4 py-2"><%= car.OfficeID %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>
</body>
</html>